.ClassList {
    border-collapse: collapse;
    margin-left: 16px;
    width: 80vw;
}

.ClassList th {
    border: 1px solid;
}

.ClassList td {
    border: 1px solid;
}

.ClassName {
    width: 40%;
}

.ProfName {
    width: 40%;
}

.Grade {
    width: 5%;
}

.Letter {
    width: 5%;
}

.Score {
    width: 10%;
}
