.TopBar {
    width: 100vw;
    height: 5rem;
    display: flex;
}

.Padding {
    width: 60vw;
}

.Home {
    width: 20vw;
    justify-content: left;
}

.UserLogin {
    width: 20vw;
    justify-content: end;
}